<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Bean Battles</title>
  </head>
  <body>
    <div class="mHeader">Test</div>
    <h1>Bean Battles Leaderboard</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Kills</th>
            <th>Wins</th>
            <th>Wagered</th>
        </tr>
        <tr>
            <td>Jod</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </table>
  </body>
</html>